@page "/"
@using Fluxor
@using IssueHunt.Client.Components.Track
@using IssueHunt.Client.Components.Video
@using IssueHunt.Client.Store
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IState<ZoneState> ZoneState
@inject IState<TrackState> TrackState
@inject IDispatcher Dispatcher

<PageTitle>IssueHunt</PageTitle>
<div class="container">
    @if (TrackState.Value.LoadingState != TrackLoadingState.Ready)
    {
        <div class="row">
            <div class="col-12"> 
                <div class="text-center">
                    <div style="font-size: 3rem;">Downloading...</div>
                </div>
            </div>
        </div>
    }
    <TrackManager></TrackManager>
    <LiveFullscreenVideo></LiveFullscreenVideo>
</div>
@code
{
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            Dispatcher.Dispatch(new LoadZoneAction(637, true));
        }
    }
}
